<footer>
	<!-- AddThis Button BEGIN -->
	<div class="addthis_toolbox addthis_default_style ">
		<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
		<a class="addthis_button_tweet" tw:via="antoinehates" tw:related="aebsr"></a>
	</div>
	<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=aebsr"></script>
	<!-- AddThis Button END -->
	<a href="http://aeb.sr">aeb.sr</a> / <span>&copy; 2013</span>
</footer>
